.chips {
  padding-top: 94px;

  &__list {
    display: flex;
  }

  &__item{
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__pic {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    text-transform: var(--upper-text-transform);
    margin-bottom: 10px;
  }

  &__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}