.client {
  &__list {
  display: flex;
  justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

  .client__link {
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  & svg,
  & svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover svg,
  &:focus svg {
    fill: var(--hov-blue-color);
  }

  &:hover,
  &:focus {
    border-color: var(--hov-blue-color);
  }
}
