.section {
  //width: 1200px;
  //margin-right: auto;
  //margin-left: auto;
  padding: 94px 0px;

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.66;
    letter-spacing: 0.03em;
    color: var(--sec-color);
  }
}

.container{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.studio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}
.butt-zak {
  font-size: 16px;
  font-weight: bold;
  color: var(--ther-white-color);
  font-family: inherit;
}
.features{
  padding-top: 94px;
}



