.label {

  .label__text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }

  &__list{
    position: relative;
  }

  &__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;}

    &__input:hover,
    &__input:focus {
      border-color: #2196F3;
    }
    &__pic {
      position: absolute;
      top: 50%;
      left: 12px;
      fill: black;
      transform: translateY(-50%);
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:hover + &__pic,
    &__input:focus + &__pic {
      fill: #2196F3;
    }

}

.label__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  cursor: pointer;
  outline: none;


  &:focus,
  &:hover {
    border-color: #2196F3;
  }
}


.contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;


&__checkbox {
  position: absolute;
  appearance: none;
}

&__text {
  background-image: url("../images/checkbox.svg");
  display: inline-block;
  width: 16px;
  height: 15px;
}

&__checkbox:focus + &__text,
&__checkbox:hover + &__text {
  background-image: url("../images/checkbox-focus.svg");
}

&__checkbox:checked + &__text {
  background-image: url("../images/check-cheked.svg");
}
}
