.section-hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-back.jpg);
  background-color: #2F303A;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  &__name {
    width: 696px;
    margin: 0 auto 30px auto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--ther-white-color);
  }

}
