.workflow{


  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 27px 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ther-white-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  }

  &__title{
      font-weight: bold;
      font-size: 36px;
      line-height: 1.66;
      letter-spacing: 0.03em;
      color: var(--sec-color);
    }

  &__list{
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__space-between {
    justify-content: space-between;
  }

  &__item--mb:not(:last-of-type) {
  margin-bottom: 10px;
  }
  &__pic{
    position: relative;
  }
}